  <!-- footer section -->
  <footer>
    <div class="text">
        <p class="text-center">&copy; All Rights Reserve to Abu Naim <br> Created By Abu Naim with ❤ </p>
    </div>
    <div class="icon">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-linkedin-in"></i>
    </div>
</footer>