<!-- header section -->
<header>
    <div class="row">
        <div class="col-md-6 col-6 col-lg-6 col-xxl-6 left-head">
            <h1 class="text-center">Get The Information of <br> Leading Industry </h1>
            <a href="/login" class="top-btn">Log-in <i class="fas fa-arrow-right" style="padding-left: 0.5rem;"></i> </a>
        </div>
        <div class="col-md-6 col-6 col-lg-6 col-xxl-6 right-head">
            <img src="./img/3.jpg" alt="" class="img-fluid">
        </div>
    </div>
</header>
