
<!-- header section -->
<%- include('./partials/head.ejs') %>

<body>

    <!-- navbar section -->
    <%- include('./partials/nav.ejs') %>

    <!-- header section  -->
    <%- include('./partials/header.ejs') %>

    <!-- about section -->
    <section class="about">
        <div class="container py-5">
            <h1 class="text-center pt-5">About us</h1>
            <p class="text-center">Now we will share about our journy how we reach the pinnacle of <br> success and
                story of our establishment </p>
            <div class="row py-5">
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <div>
                        <p>The chronicle of Carrot Real Estate Ltd. (CREL) is a glorious history to be told. It is a
                            history
                            of one and half year’s decade of innovation, intelligence and indomitable industrious
                            approach.
                            Since its establishment in 1996 by its Chairman Mr. Abu Naim Md Sakib, CREL has been proving
                            its
                            worth, as a proud concern of Carrot Group. These days, from construction to energy,
                            manufacturing to trading, Carrot Group is the frontrunner in multi-diversified business
                            operations. </p>
                    </div>
                    <div>
                        <p> CREL, as a sister concern of Carrot Group now stands out as one of the leading real-estate
                            company in the country which is recognized already as “Super Brand”. Under the banner of
                            “Carrot” in recent time, CREL is successfully turning the dreams of both local citizens and
                            NRB’s into a reality. In the pursuit of being “Different”, CREL has been most successful in
                            bringing design shift in the building construction. With rigorous scientific and technical
                            knowhow and continuous innovation, CREL is racing ahead to fulfill the ever increasing need
                            and
                            demand of the prospective buyers of the metropolis. </p>
                    </div>
                    <div>

                        <p>In the last 22 years, CREL has completed a significant number of projects in all over Dhaka
                            and
                            Chittagong cities. Around more than hundred projects both residential and commercial are now
                            ongoing in Dhaka and Chittagong cities.

                            The motto of the Company is to pursue continuously on three core concepts; these are to be –
                            “Different, Dependable and Definitive”</p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-6 col-xxl-6">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/anms2.jpg" class="img-fluid" alt="image is loading">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h3 class="card-title">Abu Naim Md Sakib</h3>
                                    <p style="font-size: 1.2rem;">Chairman</p>
                                    <p style="font-size: 1.2rem;">" Road to success is the combination of dedication, devotion and unremitting
                                        hardwork to what one wants to see happen. The endeavor towards this brought
                                        CREL
                                        to country’s leading and one of the most successful real estate companies "
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <!-- footer section -->
      <%- include('./partials/footer.ejs') %>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <!-- internal js file -->
    <script src="index.js"></script>

</body>

</html>